.body-table {
    display: flex;
    align-items: center;
    // justify-content: center;
    height: 100vh;
}

.boxTable {
    background: -webkit-linear-gradient(to right, #2f0f3b, #491e7a);
    background: -webkit-gradient(linear, left top, right top, from(#3e1052), to(#491e7a));
    background: -webkit-linear-gradient(left, #2f0f3b, #491e7a);
    background: -o-linear-gradient(left, #2f0f3b, #491e7a);
    background: linear-gradient(to right, #2f0f3b, #491e7a);
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 30px;
}

table {
    width: 100%!important;
    color: white;
}

.mailUser {
    text-decoration: none;
    color: rgb(216, 89, 184);
}

.webSiteUser {
    text-decoration: none;
    color: rgb(187, 136, 136);
}