<div class="body-login">
    <div class="container d-flex justify-content-center">
        <div class="cont-login mt-4">
            <div class="login ">
                <h4 class="text-center pt-4 pb-3">Registro</h4>

                <form [formGroup]="form" (ngSubmit)="save($event)">
                    <div class="col-12 d-flex justify-content-center flex-column pl-5 pr-5 ">
                        <mat-form-field appearance="fill">
                            <mat-label>Nombre</mat-label>
                            <input matInput placeholder="Nombre" formControlName="name">
                            <mat-error>Campo requerido</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Correo</mat-label>
                            <input matInput placeholder="nombre@ejemplo.com" required formControlName="email">
                            <mat-error>Campo requerido</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Nick</mat-label>
                            <input matInput placeholder="@nickName" formControlName="nick">
                            <mat-error></mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Telefono</mat-label>
                            <input matInput placeholder="Telefono" formControlName="Telefono">
                            <mat-error></mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Ingrese su contraseña</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password1">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Confirme su contraseña</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password2">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>

                        <div class=" pb-3">
                            <div class="d-flex justify-content-between mb-3">
                                <!-- Regresar -->
                                <button onClick="history.go(-1); return false;" mat-button color="primary">Regresar</button>

                                <button type="submit" (click)="doSomething()" [disabled]="form.invalid" mat-raised-button color="primary">Registrarse</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>